<a href="https://colab.research.google.com/github/Rakshithadhandre/2216157_AIML_Bootcamp_2023/blob/main/Aiml_Bootcamp_day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Decision making
#if statement
var=100
if var>0:
  print("True")
  print(var)

#if--else statement
var=-1
if var>0:
  print("True")
else:
  print("False")

True
100
False

In [ ]:
#nested if statements
age=int(input("Enter Age:"))
if age>0:
  if age>0 and age<=2:
        print("free ticket")
  elif age>2 and age<15:
        print("half ticket")
  elif age>=15 and age<60:
        print("full ticket")
  elif age>=60:
        print("disconnected ticket")

Enter Age:19
full ticket

In [4]:
#python loops
numbers=[1,2,3,4,5,6,7,8,9,10]
for i in range(1,11): #(1,n-1)
  print(i)

sum=0
for val in numbers:
  sum=sum+val
print("sum:",sum)

for i in range(1,11,3):
  print(i)

1
2
3
4
5
6
7
8
9
10
sum: 55
1
4
7
10

In [6]:
from typing_extensions import Counter
#while loop -used for large data
count=1
while(count<6):
  print(count)
  count=count+1

1
2
3
4
5

In [16]:
#nested loop

#nested for
x=[[12,7,3],[4,5,6],[7,8,6]]
y=[[4,8,12],[1,1,0],[5,3,0]]
res=[[0,0,0],[0,0,0],[0,0,0]]

for i in range(len(x)):
  for j in range(len(x[0])):
    res[i][j]=x[i][j]+y[i][j]
for r in res:
  print(r)

[16, 15, 15]
[5, 6, 6]
[12, 11, 6]

In [20]:
#nested while loop
num=int(input("enter until which table you need"))
i=1
while(i<=num):
  print(f"table {i}")
  j=1
  while(j<=10):
    print(f"{i}*{j}={i*j}")
    j=j+1
  print("___________________")
  i=i+1

enter until which table you need5
table 1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
___________________
table 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
___________________
table 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
___________________
table 4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
___________________
table 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
___________________

In [22]:
#control statements

#break
for q in "python":
  if(q=="h"):
    break
  print("current letter",q )
print("______________________________")

#continue
for q in "python":
  if(q=="h"):
    continue
  print("current letter",q)
print("______________________________")

#pass
for q in "python":
  if(q=="h"):
    pass
    print("this is a pass block")
  print("current letter",q)

current letter p
current letter y
current letter t
______________________________
current letter p
current letter y
current letter t
current letter o
current letter n
______________________________
current letter p
current letter y
current letter t
this is a pass block
current letter h
current letter o
current letter n

In [23]:
#functions

def greet(name):
  '''this function greets a person'''
  print("HELLO, \t "+name+ "\t good morning")
greet("Rakshitha")

HELLO, 	 Rakshitha	 good morning

In [27]:
#default
def A(a,b=1,c=2):
  return a+b+c
  
print(A(3))
print(A(4,4,4))

6
12

In [28]:
#keyword
def A(a,b=1,c=2):
    return a+b+c
    
print(A(a=2,b=3))
print(A(c=3,a=1,b=2))

7
6

In [31]:
#positional
def A(a,b,c):
  return a+b+c
print(A(10,20,30))

60

In [60]:
#arbitrary positional
def add_num(*n):
  print(sum(n))
  add_num(1,2,3,4,5)

In [34]:
#arbitrary keywords
def key_args(**kwargs):
  return kwargs
myd=key_args(Apples=30,Bananas=40,cherries=50)
print(myd['Apples'])
print(myd)

30
{'Apples': 30, 'Bananas': 40, 'cherries': 50}

In [36]:
#higher order functions
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()
def explain(func):
  greet=func("HI ,I am HiGHer OrDeR fUnCtion")
  print(greet)

explain(shout)
explain(whisper)

HI ,I AM HIGHER ORDER FUNCTION
hi ,i am higher order function