<a href="https://colab.research.google.com/github/Rakshithadhandre/2216157_AIML_Bootcamp_2023/blob/main/Aiml_Bootcamp_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [128]:
#String Methods
str= "gradstellar Aiml Bootcamp!"
print(str.capitalize())
print(str.istitle())
print(str.endswith("!"))
print("_".join(str))
print(str.replace("gradstellar",""))

str1="she is a good singer and good dancer"
print(str1.count("good"))#Returns number of times a value occurs in a string

Gradstellar aiml bootcamp!
False
True
g_r_a_d_s_t_e_l_l_a_r_ _A_i_m_l_ _B_o_o_t_c_a_m_p_!
 Aiml Bootcamp!
2

In [129]:
#List methods
list=['1', '2','3','4']
list.insert(2,'8')
print(list)
list.reverse()
print(list)
print(sorted(list))
list.append('5')
print(list)
print(list.pop(4),list)
print(list.index('3'))
print(list.clear())

['1', '2', '8', '3', '4']
['4', '3', '8', '2', '1']
['1', '2', '3', '4', '8']
['4', '3', '8', '2', '1', '5']
1 ['4', '3', '8', '2', '5']
1
None

In [130]:
#Tuple methods
tup=(1,5,6,3.5,7,5,9.55,10)
tup1=(4,"Hii","Hello",tup)
tup2=("Python",3,1,6.7,tup1,tup)
n_tup=(3,"Assignment",tup1,tup,tup2)
print(tup.count(5))
print(tup.index(3.5))
print(n_tup[-1][-2][-1][0])
print(max(tup))
print(min(tup))
print(len(tup))

2
3
1
10
1
8

In [131]:
#Dictionary methods
dict={"name":"Rakshitha","rno":"1018"}
print(dict["name"])
print(dict.keys())
print(dict.values())
print(dict.get("rno"))
dict.update({"branch":"Cse"})
print(dict)
dict.pop("rno")
print(dict)
print(dict.items())
print(dict.clear())

Rakshitha
dict_keys(['name', 'rno'])
dict_values(['Rakshitha', '1018'])
1018
{'name': 'Rakshitha', 'rno': '1018', 'branch': 'Cse'}
{'name': 'Rakshitha', 'branch': 'Cse'}
dict_items([('name', 'Rakshitha'), ('branch', 'Cse')])
None

In [132]:
#Set methods
set1={"apple", "banana", "cherry","mango"}
set2={"1","2","3","mango"}
x=set1.copy()
print(x)
z=set1.difference(set2)
print(z)
y=set1.intersection(set2)
print(y)
z = set1.issubset(set2) 
print(z)
set1.add("orange")
print(set1)
set1.discard("banana")
print(set1)

{'cherry', 'apple', 'mango', 'banana'}
{'cherry', 'apple', 'banana'}
{'mango'}
False
{'apple', 'cherry', 'mango', 'banana', 'orange'}
{'apple', 'cherry', 'mango', 'orange'}

In [133]:
#python program to convert Decimal to Binary, Octal and Hexadecimal with direct method
#decimal to binary
x=55
print(bin(x))
#decimal to hexadecimal
print(hex(x))
#decimal to octadecimal
print(oct(x))

0b110111
0x37
0o67

In [134]:
#Arithmetic operators
print("arithmetic operators")
a=15
b=5
print("a:",a)
print("b:",b)
print("a+b:",a+b)
print("a-b:",a-b)
print("a/b:",a/b)
print("a%b:",a%b)
print("a*b:",a*b)
print("a**b:",a**b)#powers
print("a//b:",a//b)

arithmetic operators
a: 15
b: 5
a+b: 20
a-b: 10
a/b: 3.0
a%b: 0
a*b: 75
a**b: 759375
a//b: 3

In [135]:
#Assignment operators
a=18
b=5
b-=3
print(b)
a/=3
print(a)
a%=3
print(a)
b&=3
print(b)
b**= 3
print(b)

2
6.0
0.0
2
8

In [138]:
#Comparison operators
a=15
b=3
print(a==b)
print(a<=b)
print(a>=b)
print(a!=b)
#print(a<>b)

False
False
True
True

In [139]:
#Logical operators 
T=True
F=False
print("T and F is:",T and F)
print("T or F is:",T or F)
print("T not F is:",not F)

T and F is: False
T or F is: True
T not F is: True

In [140]:
#Bitwise operators
a=12
b=13
print(a&b)
print(a|b)
print(~a) #not
print(a^b) #xor
print(a>>2) #right shift
print(a<<2) #left shift

12
13
-13
1
3
48

In [141]:
#Membership operators
x="AIML BootCamp"
print("B"in x)
print("c" in x)

True
False

In [142]:
#Identity operators 
a=5
b=5
x="Hello"
y="Hello"
i=[1,2,3]
j=[1,2,3]
print(a is not b)
print(x is y)
print(i is y)

False
True
False

In [162]:
#Negative indexing for List and apply slicing
#Lists
l=[1,2,3,4,"Hello",5.2,9,13]
l1=[3.9,l]
l2=["apple","banana","cherry",l,l1]
print(l[::1])
print(l2[1]) 
print(l1[-1::2])
print(l2[-5::1])

[1, 2, 3, 4, 'Hello', 5.2, 9, 13]
banana
[[1, 2, 3, 4, 'Hello', 5.2, 9, 13]]
['apple', 'banana', 'cherry', [1, 2, 3, 4, 'Hello', 5.2, 9, 13], [3.9, [1, 2, 3, 4, 'Hello', 5.2, 9, 13]]]

In [ ]:
#reverse the string and prints the 3rd letter starting from 4th at last(from 0)
print('A series of characters designated as one object known as a string'[::-1][4::3])
print('-----------')
print('welcome to python training program'[3:10][::-1])

taawkcbe  tgestrcoeeA
-----------
ot emoc

In [ ]:
p_phase='was it a car or a cat I saw'[::-1]
print(p_phase.upper())

WAS I TAC A RO RAC A TI SAW

In [119]:
#generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively. 
#The generated word similar to ZOO where Y= 2 * X. 
X=2
print(X*'Z'+2*X*'O')
X=5
print(X*'Z'+2*X*'O')

ZZOOOO
ZZZZZOOOOOOOOOO

In [169]:
#join()-Join all items in a tuple into a string
l1=['H','e','l','l','o']
print("".join(l1))
list=["Hii","I am","Attending","Bootcamp"]
print(" ".join(list))

Hello
Hii I am Attending Bootcamp

In [167]:
#ord()-gives ASCII of a character
c=input("enter value:")
print(ord(c))

enter value:r
114