<a href="https://colab.research.google.com/github/Rakshithadhandre/2216157_AIML_Bootcamp_2023/blob/main/Aiml_Bootcamp_day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#tuples-store multiple items in a single var
my_tup=(1,2,3,4,5)
my_tup1=("h1",1.7,4,my_tup)

n_tup=("HELLO",my_tup,my_tup1)
print(n_tup[-1][-1][2])

#tuple methods
print(my_tup.count(1))
print(my_tup.index(2))
print(max(my_tup))
print(min(my_tup))
print(len(my_tup))

3
1
1
5
1
5

In [3]:
#sets
my_set={1,2,3,4}
set1={1,5.6,"python"}

l=[1,5,8,2]
print(l)
set2=set(l)
print(set2)

#set methods
my_set.add(5)
print(my_set)

my_set.update([5,6])
print(my_set)

my_set.discard(4)
print(my_set)

my_set.remove(5) #we will not get any error msg if not present
print(my_set)

#set opearations
a={1,3,4,5}
b={5,0,2,4}

#union
print(a|b)
print(a.union(b))
print(b.union(a))

#intersection
print(a&b)
print(b.intersection(a))
print(a.intersection(b))

#difference
print(a.difference(b))
print(b.difference(a))

[1, 5, 8, 2]
{8, 1, 2, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 5, 6}
{1, 2, 3, 6}
{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5}
{4, 5}
{4, 5}
{4, 5}
{1, 3}
{0, 2}

In [4]:
print(my_set)
my_set.discard(5)#we will not get any error  if no. not present
print(my_set)

my_set.remove(3) #we will get any error  if no. not present
print(my_set)

{1, 2, 3, 6}
{1, 2, 3, 6}
{1, 2, 6}

In [5]:
#dictionaries
dict={"name":"Rakshitha",1018:"rno"}
print(dict["name"])
print(dict.keys())
print(dict.values())
print(dict.get(1018))

Rakshitha
dict_keys(['name', 1018])
dict_values(['Rakshitha', 'rno'])
rno

In [6]:
a=int(input("enter value of a:"))
print(a)

b=input("enter string")
print(b)

enter value of a:18
18
enter stringRakshitha
Rakshitha

In [14]:
#practise
#List
my_l=[1,2,3,4]
my_l1=[1,"hii","4.0"]
my_l2=["apple","mango","citrus"]

#indexing
print(my_l[2])
print(my_l[-1])

#slicing
print(my_l[:3])

#nested list
n_l=["dragonfruit",my_l,my_l[1]]
print(n_l[0][0:6])
print(my_l1[1][2])

#list method
my_l.append(5)
print(my_l)

l1=[2,4,18,67,5,34,23,99,10,5]
print(l1.count(5))
print(len(l1))
print(l1[::-1])

l1.reverse()
print(l1)

l1.sort()
print(l1)

#print(n_l[2][0:3])

3
4
[1, 2, 3]
dragon
i
[1, 2, 3, 4, 5]
2
10
[5, 10, 99, 23, 34, 5, 67, 18, 4, 2]
[5, 10, 99, 23, 34, 5, 67, 18, 4, 2]
[2, 4, 5, 5, 10, 18, 23, 34, 67, 99]