<a href="https://colab.research.google.com/github/Rakshithadhandre/2216157_AIML_Bootcamp_2023/blob/main/Bootcamp_day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#operators
print("arithmetic operators")
a=15
b=5
print("a:",a)
print("b:",b)
print("a+b:",a+b)
print("a-b:",a-b)
print("a/b:",a/b)
print("a%b:",a%b)
print("a*b:",a*b)
print("a**b:",a**b)#powers
print("a//b:",a//b)

arithmetic operators
a: 15
b: 5
a+b: 20
a-b: 10
a/b: 3.0
a%b: 0
a*b: 75
a**b: 759375
a//b: 3

In [ ]:
#comparision operators
a=3
b=5
print(a==b)
print(a<=b)
print(a>=b)
print(a<<b)
print(a>>b)
print(a!=b)

False
True
False
96
0
True

In [ ]:
a=21
print("a<<2",a<<1) #right shift a will shifts 2 times farword

a<<2 42

In [ ]:
#assignment operators
a=18
b=5
c=a+b
print(c)
c-=a
print(c)

23
5

In [ ]:
#logical operators
x=True
y=False
print("x and y is:",x and y)
print("x or y is:",x or y)
print("x not y is:",not y)

x and y is: False
x or y is: True
x not y is: True

In [ ]:
#Bitwise operators
a=13
b=14
print(a&b)
print(a|b)
print(~a) #not
print(a^b) #xor
print(a>>2) #right shift
print(a<<2) #left shift

12
15
-14
3
3
52

In [ ]:
# Membership operators
x="Hello World"
print("w"in x)
print("e" in x)

False
True

In [ ]:
#Identity operators
a=5
b=5
x="Hello"
y="Hello"
i=[1,2,3]
j=[1,2,3]
print(a is not b)
print(x is y)
print(i is y) #i is stored in different location-address is not same

False
True
False

In [ ]:
#Strings
str="Helloo world"
#indexing
print(str[0])
print(str[-1])
#slicing
#from: to (n-1:2)
print(str[0:7:2])

H
d
Hlo

In [ ]:
#reverse a string
print(str[::-1])

dlrow oolleH

In [ ]:
#string methods
str="I am learning python"
print(str.upper())
print(str.lower())
print(str.swapcase())
print(str.lstrip())

I AM LEARNING PYTHON
i am learning python
i AM LEARNING PYTHON
I am learning python

In [ ]:
#string operations
str1="Hii"
str2="Python"
print(str1 + str2)
print(str1*2)

HiiPython
HiiHii

In [ ]:
#string formats
name="Rakshitha"
language="Python"
year=2023
print(name,"is learning",language,"Programming in",year)
#print("{} is teaching {} programming is{}",format(name,language,year))

Rakshitha is learning Python Programming in 2023

In [ ]:
#place holder '%'
print("%s is learning %s programming in %d" %(name,language,year))

Rakshitha is learning Python programming in 2023

In [ ]:
#rawstring 'f'
print(f"{name} is learning {language} programming in {year}")

Rakshitha is learning Python programming in 2023

In [ ]:
#Lists
l=[1,2,3,4]
l1=[1,"Hello","5.2"]
l2=["apple",'banana','cherry']
#indexing
print(l[2])
print(l[-1])
print(l1[2])
print(l2[1])
#slicing
print(l[:3])

3
4
5.2
banana
[1, 2, 3]

In [ ]:
#nested list
list=["dragonfruit",l,l[1]]
list1=[1,2,3,4]
list2=[1,"hello","3.0"]
print(list[0][0::6])

df

In [ ]:
#List method
list.append(5)
print(list)
L1=[4,2,5,9,7,3,2,4,49,5,5,9,5]
print(L1.count(4))
print(len(L1))
print(L1[::-1])
L1.reverse()
print(L1)
L1.sort()
print(L1)

['dragonfruit', [1, 2, 3, 4], 2, 5, 5]
2
13
[5, 9, 5, 5, 49, 4, 2, 3, 7, 9, 5, 2, 4]
[5, 9, 5, 5, 49, 4, 2, 3, 7, 9, 5, 2, 4]
[2, 2, 3, 4, 4, 5, 5, 5, 5, 7, 9, 9, 49]

In [ ]:
dir(list) #gets all directories present in list

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
l1=[1,2,3,4,5]
l2=l1
l3=[1,2,3,4,5]
print(l1==l2)
print(l1==l3)
print(l1 is l2)
print(l1 is l3)
print(id(l1))
print(id(l2))
print(id(l3))

True
True
True
False
140344670151552
140344670151552
140344670227008